* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* To Box Model */
  }
  
  /* Global */
  body {
    font-family: "Merriweather", sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
  }
  
  .button__primary {
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    flex-direction: column;
    gap: 15px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 5%;
  }
  
  .navbar__brand {
    width: 100px;
  }
  
  .navbar__logo {
    width: 100%;
  }
  
  .hero__container {
    width: 100%;
  }
  .hero__image__container {
    width: 100%;
    height: 300px;
    position: relative;
    
  }

  
  .hero{
    width: 100%;
  }
  .hero__image {
    width: 90%;
    position: absolute;
    left:10px;
    top:10px;
    box-shadow: 0px 0px 10px 0px black;
  }
   
  .under__slash{
    z-index: -3;
    width: 90%;
    position: absolute;
    margin-top: -30px;
    margin-left: -30px;
    left:10px;
    top:10px;
  }
  .under__solid{
    z-index: -3;
    width: 85%;
    position: absolute;
    margin-top: -30px;
    margin-left: 60px;
    left:10px;
    top:10px;
  }


  .hero__text{
    font-size: 30px;
    margin: 20px 0px;
    color: #1d3557;

  }
  /*EXPLORE*/
  .Exp__menu__container{
    width: 100%;
    margin: 70px 0px;
  }
  .exp__menu__text{
    font-size: 30px;
    margin: 30px 0px;
    color: #1d3557;
    text-align: center;
  }

 
  .Exp__menu__veiw__more{
    width:100%;
    align-items: center;
    text-align: center;
  }
  /*menu card*/

  .food__menu__card{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .food_img{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
  }

  .food__menu__card__des{
    padding: 20px;
  }


  /*video*/
  .video__container{
    margin-top: 50px ;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    position: relative;
  }

  .video__bg{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    position: absolute;
    left:0;
    top:0;
    transform: skewY(-5deg);
    z-index: -2;
  }

  .video{
    width: 100%;
  }

  /*resturant*/
  

  .res__head{
    font-size: 30px;
    margin: 20px 0px;
    color: #1d3557;
    text-align: center;
  }
  
  .res__grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .res__grid__r1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
    align-items: baseline;
  }
  .res__grid__r2{

    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 5px;
    align-items:flex-start;
  }

  .res1, .res3{
    width: 45%;
  }

  .res2, .res4{
    width: 55%;
  }

  .res1__img, .res2__img, .res3__img, .res4__img{
    width: 100%;
  }

  /*stay Udated*/

  .stay__updated{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    align-items: center;
    text-align: center;
  }

  .stay__updated__text{
    font-size: 30px;
    margin: 30px 0px;
    color: #1d3557;
    text-align: center;
  }
  .stay__updated__input{
    height: 30px;
    background-color: rgb(255, 203, 231);
    border: 1px solid rgb(167, 7, 119);
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
  }


  /*qoute*/

  .qoute{
      position: relative;
      margin-top: 4rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 200px;
      width: 100%;
      border-radius: 13px;
  }

  .qoute__img__container{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    position: absolute;
    left:0;
    top:0;
  }

  .qoute__img{
    width: 100%;
    height: 200px;
    border-radius: 13px;
    position: absolute;
    top:0;
    left:0;

  }

  .overlay{
    background-color: #1d3557;
    opacity: 49%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    border-radius: 13px;
  }

  .qoute__text{
    font-size: 15px;
    color: rgb(255, 255, 255);
    position: absolute;
    left:5%;
    top:45%;
  }



  /*Foter*/

  footer{
    width: 100%;
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }

  .footer__bg{
    position: absolute;
      left: 0;
      top: 0;

      border-radius: 10px 10px  0px 0px ;

      width: 100%;
      height: 100%;

      background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
      z-index: -3;

  }

  .footer__logo__img{
    filter:  brightness(0) invert(1);
  }

  .footer__menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer__menu__list{
    list-style: none;
    font-size: 15px;
    color:white;
    display: flex;
    flex-direction: column;
    gap:5px;
  }





  @media (min-width: 768px) {
    .navbar {
      justify-content: space-between;
      padding: 10px 20px;
    }
    .navbar__brand {
      width: 150px;
    }
    .button__primary {
      padding: 12px 20px;
      font-size: 20px;
    }
    .hero__container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      gap:10px
    }
    .hero__image{
      left:0;
    }
    .exp__menu__lists{
      display: flex;
      gap: 8px;
    }
    .exp__menu__text{
      margin-bottom: 50px;
    }
    #pizza{
      margin-top: -20px;
      margin-bottom: 20px;

    }
    .Exp__menu__container{
      position: relative;
    }
    .exp__menu__bg{
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
      z-index: -3;
      transform: skewY(-4deg);
    }
    /*video*/
    .video__container{
      margin-bottom: 10px;
    }
    .video{
      width: 400px;
      height: 250px;

    }
    .video__bg{
      width: 400px;
      height: 250px;
      left:25%;
    }
    /*resturant*/
    .res{
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      align-items: center;
    }

    /*stay tuned*/
    .overlay{
      height: 400px;
    }
    .qoute__img{
      height: 400px;
      
    }
    .qoute__text{
      font-size: 30px;
      top:180px;
    }


    /*footer*/
    footer{
      flex-direction: row;
      margin-top: 300px;
      gap:30px;

    }

  }
  
  @media (min-width: 1020px) {
    .container {
      max-width: 900px;
    }
    .hero__container {
      margin-bottom: 100px;
    }
    .hero__text{
      font-size: 40px;
    }
    .exp__menu__lists{
      display: flex;
      gap: 20px;
      padding: 0px 20px;
    }
    .under__solid{
      margin-left: 80px;
    }
    
  }
  
  @media (min-width: 1400px) {
    .container {
      max-width: 1250px;
    }
    .hero__container {
      margin-bottom: 270px;
    }
    .under__solid{
      margin-left: 120px;
    }
    .under__slash{
      margin-left: -50px;
    }
    .video__bg{
      left:35%;
    }
    /*stay tuned*/
    .overlay{
      height: 470px;
    }
    .qoute__img{
      height: 470px;
      
    }
    .qoute__text{
      font-size: 30px;
      top:200px;
    }
  }